.footer {
  padding: 50px 20px 45px;
  background: #000;
}

.footer_container {
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  @extend .clearfix;
}

.footer_image {
  width: auto;
  min-height: 250px;
  background: url('../images/footer_image.png') center center;
  background-size: cover;
}

.footer_content {
  width: 100%;
  height: 100%;
  @include columns(8);
}

.footer_title {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 24px;
  color: #fff;
}
