.hamburger {
  position: fixed;
  z-index: 100;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #fff;
  -webkit-transition: right 0.4s;
  transition: right 0.4s;

  &.-show {
    right: 0;
    box-shadow: 1px 0px 4px rgba(#000, 0.3);
  }
}

.hamburger_header {
  height: 86px;
}

.hamburger_close {
  font-size: 38px;
  position: absolute;
  top: 27px;
  right: 10px;
  line-height: 0;
  cursor: pointer;
}

.hamburger_title {
  font-size: 10px;
  line-height: 1.4;
  margin: 14px 20px;
}

.hamburger_content {
  position: absolute;
  top: 86px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 20px;
  @extend .clearfix;
}

.hamburger_menu {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;

  &.-second {
    display: none;

    .hamburger_menu_item {
      border: none;

      .hamburger_menu_link:last-child {
        font-weight: normal;
      }

      &:hover {
        > .hamburger_menu_link {
          background: none;
        }
      }

      &.-active {
        > .hamburger_menu_link {
          font-weight: bold;
          background: none;
        }
      }
    }

    .hamburger_menu_link {
      font-size: 10px;
      font-weight: bold;
      padding: 10px 20px 10px 30px;
      background: #fff;
    }
  }
}

.hamburger_menu_item {
  position: relative;
  border-bottom: 1px solid #F5F5F5;

  &:first-child {
    border-top: 1px solid #F5F5F5;
  }

  &:last-child {
    .hamburger_menu_link {
      font-weight: bold;
    }
  }

  &:hover {
    > .hamburger_menu_link {
      background: #fafafa;
    }
  }

  &.-active {
    > .hamburger_menu_link {
      background: #fafafa;
    }
  }
}

.hamburger_menu_link {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  padding: 10px 40px 10px 20px;
  color: #000;
}

.hamburger_toggle-menu {
  font-size: 21px;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #000;
  color: #fff;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  &.-active {
    background: none;
    color: #000;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
