$header-height: 58px;
$logotype-width: 240px;
$social-icons-width: 240px;

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: $header-height;
  margin: 0;
  -webkit-transition: background .2s;
  transition: background .2s;
  @extend .clearfix;

  &.-sticky {
    background: #000;
  }
}

.header_container {
  min-width: 480px;
  max-width: 1400px;
  margin: 0 auto;
  @extend .clearfix;
}
