.logotype {
  float: left;
  width: 240px;
  height: 100%;
  text-align: center;

  @include respond-to('tablet') {
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -120px;
  }

  @include respond-to('mobile') {
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -120px;
  }

  img {
    display: inline-block;
    margin-top: 11px;
  }

  &.-footer {
    float: none;
    height: auto;
    margin-top: 41px;

    img {
      width: 122px;
      height: auto;
      margin: 0;
    }
  }
}
