.logotype {
  float: left;
  width: 240px;
  height: 100%;
  text-align: center;

  img {
    display: inline-block;
    margin-top: 11px;
  }

  &.-footer {
    float: none;
    width: 100%;
    height: auto;
    margin-top: 41px;

    img {
      width: 122px;
      height: auto;
      margin: 0;
    }
  }
}
