.reviews {
  padding: 0;
  background: #fff;
  overflow: hidden;

  @include respond-to('desktop') {
    padding: 0 20px;
  }
}

.reviews_container {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  @extend .clearfix;

  [class*="col-"] {
    float: right;
  }
}

.reviews_image {
  width: 100%;
  min-height: 450px;
  background: url('../images/reviews.png') center center;
  background-size: cover;
}

.reviews_sidebar {
  padding: 20px;
}
