.services {
  padding: 0 20px;
  background: #000;
  overflow: hidden;

  @include respond-to('desktop') {
    background: #fff;
  }
}

.services_container {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  @extend .clearfix;
}

.services_content {
  text-align: center;
  padding: 0 20px 50px;

  p {
    padding: 0 20px;
    color: #fff;

    @include respond-to('desktop') {
      color: #000;
    }
  }

  .button {
    @include respond-to('mobile') {
      border: 1px solid #fff;
      color: #fff;

      &:hover {
        background: #fff;
        color: #000;
      }
    }

    @include respond-to('tablet') {
      border: 1px solid #fff;
      color: #fff;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
}

.services_image {
  min-height: 280px;

  &.-first {
    background: url('../images/services-first.png') center center;
    background-size: cover;
  }

  &.-second {
    background: url('../images/services-second.png') center center;
    background-size: cover;
  }
}

.services_title {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 50px 0 24px;
  color: #fff;

  @include respond-to('desktop') {
    color: #000;
  }
}
