.social-icons {
  float: right;
  font-size: 0;
  list-style: none;
  width: 240px;
  height: 100%;
  margin: 21px 0 0;
  padding: 0;
  text-align: center;

  @include respond-to('mobile') {
    display: none;
  }

  @include respond-to('tablet') {
    display: none
  }

  &.-footer {
    float: none;
    width: 100%;
    margin-top: 18px;

    @include respond-to('mobile') {
      display: block;
    }

    @include respond-to('tablet') {
      display: block;
    }
  }

  &.-room {
    float: none;
    width: 100%;
  }
}

.social-icons_item {
  display: inline-block;
  width: 15px;
  margin: 0 10px;

  img {
    height: 15px;
  }
}
