.special-offers {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto 40px;
  @extend .clearfix;
}

.special-offers_container {
  max-width: 1400px;
  margin: 0 auto;
}

.special-offers_item {
  margin: 0 20px 40px;
  vertical-align: top;

  img {
    width: 100%;
    margin-bottom: 20px;
  }
}

.special-offers_title {
  text-align: center;
}

.special-offers_subtitle {
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.special-offers_description {
  text-align: left;
}

.special-offers_learn-more {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  margin: 20px 0 30px;
  color: #000;

  &:after {
    content: '';
    margin-left: 6px;
    margin-top: -3px;
    @include icon('../images/icons/arrow-right.svg', 14px, 14px);
  }
}
