.button {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  padding: 12px 30px;
  border: 1px solid #000;
  background: transparent;
  color: #000;
  transition: all .2s;

  &:hover {
    background: #000;
    color: #fff;
  }

  &:active {
    transform: scale(.95);
  }

  &.-light {
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      background: #fff;
      color: #000;
    }
  }

  &.-full-mobile {
    display: block;
    width: 100%;

    @include respond-to('desktop') {
      display: inline-block;
      width: auto;
    }
  }

  &.-book-now {
    background: #fff;
    color: #000;
  }

  &.-disabled,
  &:disabled {
    opacity: .5;
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }
}
