.amenities {
  background: #000;
  height: 471px;
  padding: 0 20px;
  overflow: hidden;
  display: none;
  @extend .clearfix;

  @include respond-to('desktop') {
    display: block;
  }
}

.amenities_container {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.amenities_image {
  height: 471px;
  // @include columns(4);
  background: url('../images/amenities.png') center center;
  background-size: cover;
}

.amenities_content {
  // @include columns(8);
}

.amenities_list {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  list-style: none;
  width: 80%;
  margin: 90px auto 0;
  padding: 0;
  color: #959595;
  @extend .clearfix;
}

.amenities_list_item {
  position: relative;
  float: left;
  width: 40%;
  padding-left: 40px;
  margin-bottom: 40px;
  white-space: nowrap;

  &:before {
    position: absolute;
    left: 0;
  }

  &.-suv {
    @include icon-before('../images/icons/suv.svg', 27px, 12px);
  }
  &.-pool {
    @include icon-before('../images/icons/heated-pool.svg', 8px, 20px);
  }
  &.-breakfast {
    @include icon-before('../images/icons/breakfast.svg', 23px, 17px);
  }
  &.-business {
    @include icon-before('../images/icons/business-service.svg', 12px, 17px);
  }
  &.-happy {
    @include icon-before('../images/icons/happy-hour.svg', 18px, 21px);
    &:before {
      top: -4px; // TODO FIX icon mixin
    }
  }
  &.-deliveries {
    @include icon-before('../images/icons/delivery.svg', 21px, 17px);
  }
  &.-internet {
    @include icon-before('../images/icons/internet.svg', 21px, 15px);
  }
  &.-pet {
    @include icon-before('../images/icons/pet-policy.svg', 17px, 16px);
  }
  &.-room {
    @include icon-before('../images/icons/room-service.svg', 20px, 17px);
  }
}
