.rate-shopping {
  text-align: center;
  overflow: hidden;
}

.rate-shopping_bookings-made {
  display: none;

  @include respond-to('desktop') {
    display: inline;
  }
}

.rate-shopping_container {
  display: inline-block;
}

.rate-shopping_item {
  float: left;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 35px;
  line-height: 35px;
  padding: 0 40px;
  background: #edecec;
  color: #000;

  &.-clock {
    &:before {
      content: '';
      @include icon('../images/icons/clock.svg', 22px, 22px);
      margin-top: -2px;
      margin: -2px 15px 0 0;
    }
  }

  &.-count {
    font-size: 15px;
    letter-spacing: 0;
    min-width: 50px;
    padding: 0 12px;
    background: #df6a5e;
    color: #fff;
  }
}
