.room-list {
  padding: 0 20px;
  margin: 40px 0;
  @extend .clearfix;
  overflow: hidden;
}

.room-list_container {
  list-style: none;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}

.room-list_item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
  padding: 0 0 40px;
  @extend .clearfix;
}
