.style {
  min-width: 480px;
  height: 700px;
  padding: 0 20px;
  background: url('../images/comfort_and_style.png') center center;
  background-size: cover;
  overflow: hidden;

  @include respond-to('mobile') {
    padding: 0;
  }

  @include respond-to('tablet') {
    padding: 0;
  }
}

.style_container {
  position: relative;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  @extend .clearfix;
}

.style_content {
  position: absolute;
  left: 59px;
  bottom: 48px;
  width: 244px;
  padding: 52px 52px 44px;
  background: #fff;
  text-align: center;

  @include respond-to('mobile') {
    left: 50%;
    margin-left: -174px;
  }

  @include respond-to('tablet') {
    left: 50%;
    margin-left: -174px;
  }
}

.style_title {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  color: #000;
}
