<section class="about">
  <div class="about_container">
    <div class="about_item">
      <div class="about_image -first"></div>
    </div>
    <div class="about_item -our-hotels">
      <div class="about_content">
        <h3 class="about_title">Our hotels</h3>
        <p>
          {% region our_hotels %}
        </p>
      </div>
      <div class="about_logotype">
        <img src="../images/CG.svg" alt="">
      </div>
    </div>
    <div class="about_item">
      <div class="about_content">
        <h3 class="about_title">About the group</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Voluptate, culpa reiciendis accusamus ipsa odit nulla earum recusandae
          iste libero, qui, in rem vero voluptas dolore consequatur ipsum quidem
          eaque corrupti voluptatum veritatis ut magnam laudantium deserunt!
          Corporis, reiciendis quis neque.
        </p>
        <a href="#" class="button -light">Discover</a>
      </div>
    </div>
    <div class="about_item -last">
      <div class="about_image -second"></div>
    </div>
  </div>
</section>
