<section class="amenities">
  <div class="amenities_container">
    <div class="amenities_image"></div>
    <div class="amenities_content">
      <ul class="amenities_list">
        <li class="amenities_list_item -suv">Luxury SUV Service</li>
        <li class="amenities_list_item -pool">Heated Pool</li>
        <li class="amenities_list_item -breakfast">Complimentary Breakfast</li>
        <li class="amenities_list_item -business">Business Services & Express Checkout</li>
        <li class="amenities_list_item -happy">Happy Hour</li>
        <li class="amenities_list_item -deliveries">Deliveries, Shipping and Handling</li>
        <li class="amenities_list_item -internet">High Speed Internet</li>
        <li class="amenities_list_item -pet">Cupertino Inn Pet Policy</li>
        <li class="amenities_list_item -room">24 Hour Room Service</li>
      </ul>
    </div>
  </div>
</section>
