<section class="amenities">
  <div class="amenities_container">
    <div class="amenities_image"></div>
    <div class="amenities_content">
      <ul class="amenities_list">
        <li class="amenities_list_item">Lorem ipsum.</li>
        <li class="amenities_list_item">Accusamus, totam.</li>
        <li class="amenities_list_item">Iusto, itaque.</li>
        <li class="amenities_list_item">Quasi, adipisci!</li>
        <li class="amenities_list_item">Aliquid, accusamus?</li>
        <li class="amenities_list_item">Debitis, libero.</li>
        <li class="amenities_list_item">Quod, maxime?</li>
        <li class="amenities_list_item">Earum, ad.</li>
        <li class="amenities_list_item">Numquam, vel?</li>
      </ul>
    </div>
  </div>
</section>
