<div class="booking-widget">
  <div class="booking-widget_header">
    <div class="booking-widget_close">&times;</div>
    <h3 class="booking-widget_title">Your Booking</h3>
  </div>
  <div class="booking-widget_content">
    <div class="booking-widget_special-rates">
      <div class="booking-widget_special-rates_title">
        View Special Rates
        <span></span>
      </div>
      <div class="booking-widget_special-rates_content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        <br>
        Suscipit quos accusamus ipsam ut dolores quaerat non aperiam quam illo,
        excepturi nihil ipsum dolore quo fuga repellendus,
        magni distinctio necessitatibus quae.
      </div>
    </div>
    <div class="booking-widget_footer">
      <p>Need Booking Assistance? Here are a few quick ways we can halp:</p>
      <!-- Todo icons via email and other -->
    </div>
  </div>
</div>
