<div class="booking-widget" ng-controller="bookingWidget as widget">
  <div class="booking-widget_header">
    <div class="booking-widget_close">&times;</div>
    <h3 class="booking-widget_title">Your Booking</h3>
  </div>
  <div class="booking-widget_content">

    <!-- Flexible dates -->
    <a href="https://cupertinoinn.reztrip.com/en/bookings/56792e7a7deb5d007f001726/hotels/CASVCH/calendar?currency=USD" class="booking-widget_flexible-dates">
      Flexible Dates
      <span class="booking-widget_flexible-dates_icon"></span>
    </a>

    <!-- Check In, Check Out Calendars -->
    <div class="booking-widget_accord -first">
      <div class="booking-widget_accord_toggler">
        <div class="booking-widget_calendar -error">
          <span class="booking-widget_calendar_icon">Check in</span>
          <div class="booking-widget_calendar_input">
            <input type="text" value="[[widget.arrival]]">
          </div>
        </div>
      </div>
      <div class="booking-widget_accord_content">
        <div ng-change="widget.chachgeMinDate('departure')" ui-date="[[widget.arrivalOptions]]" ng-model="widget.arrival" ui-date-format="D d M"></div>
      </div>
    </div>
    <p class="booking-widget_calendar_error-text">Please select your check in date</p>
    <div class="booking-widget_accord">
      <div class="booking-widget_accord_toggler">
        <div class="booking-widget_calendar">
          <span class="booking-widget_calendar_icon">Check out</span>
          <div class="booking-widget_calendar_input">
            <input type="text" value="[[widget.departure]]">
          </div>
        </div>
      </div>
      <div class="booking-widget_accord_content">
        <div ng-change="widget.chachgeMinDate('arrival')" ui-date="[[widget.departureOptions]]" ng-model="widget.departure" ui-date-format="D d M"></div>
      </div>
    </div>
    <p class="booking-widget_calendar_error-text">Please select your check out date</p>

    <!-- Rooms, Adults, Children -->
    <div class="bookin-widget_parameters">
      <div class="bookin-widget_parameters_content">
        <div class="bookin-widget_parameters_select-group">
          <select name="rooms" id="rooms">
            <option value="1">1 Room</option>
            <option value="2">2 Rooms</option>
            <option value="3">3 Rooms</option>
          </select>

          <select name="adults" id="adults">
            <option value="1">1 Adult</option>
            <option value="2">2 Adults</option>
            <option value="3">3 Adults</option>
          </select>

          <select name="children" id="children">
            <option value="0">0 Children</option>
            <option value="1">1 Children</option>
            <option value="2">2 Children</option>
          </select>
        </div>
        <p class="bookin-widget_parameters_description">*under the age of 12</p>
      </div>
    </div>

    <!-- View Special Rates -->
    <div class="booking-widget_accord">
      <div class="booking-widget_accord_toggler">
        <h3 class="booking-widget__special-rates_title">View Special Rates</h3>
      </div>
      <div class="booking-widget_accord_content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        <br>
        Suscipit quos accusamus ipsam ut dolores quaerat non aperiam quam illo,
        excepturi nihil ipsum dolore quo fuga repellendus,
        magni distinctio necessitatibus quae.
      </div>
    </div>

    <!-- Rates -->
    <div class="booking-widget_rate">
      <div class="booking-widget_rate_content">
        <div class="booking-widget_rate_col -title">
          Tonight's<br>Rate
        </div>
        <div class="booking-widget_rate_col -count">$399</div>
      </div>
      <a href="#" class="booking-widget_rate_button">Book now</a>
    </div>

    <!-- Footer -->
    <div class="booking-widget_footer">
      <p>Need Booking Assistance? Here are a few quick ways we can halp:</p>
      <nav class="booking-widget_footer_links">
        <a href="mailto:test@test.ru" class="booking-widget_footer_links_item -email">Via Email</a>
        <a href="/contacts" class="booking-widget_footer_links_item -contacts">See more Contact Details</a>
        <a href="#" class="booking-widget_footer_links_item -reservation">View existing Reservation</a>
      </nav>
    </div>
  </div>
</div>
