<footer class="footer">
  <div class="footer_container">
    <div class="footer_newsletter">
      <h3 class="footer_title">Newsletter</h3>
      <form action="#">
        <div class="row">
          <div class="col-6 col-desk-12">
            <div class="form_field">
              <input class="text-field" type="text" placeholder="Enter your email...">
            </div>
          </div>
          <div class="col-6 col-desk-12">
            <div class="form_field">
              <button class="button -light -full-mobile" type="submit">Send</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <hr>
    <div class="footer_about">
      <div class="row">
        <div class="col-6 col-desk-3">
          <h3 class="footer_title">Contact us</h3>
          <div class="contact-us">
            <p class="contact-us_address">10889, North De Anza Boulevard, CA</p>
            <p class="contact-us_phone">800-222-4828</p>
            <p class="contact-us_phone">408-996-7700</p>
            <p class="contact-us_email">info@cupertino.com</p>
          </div>
        </div>
        <div class="col-3 col-mob-hidden col-tab-hidden">
          <h3 class="footer_title">Newsletter</h3>
          <form action="#">
            <div class="row">
              <div class="col-6 col-desk-12">
                <div class="form_field">
                  <input class="text-field" type="text" placeholder="Enter your email...">
                </div>
              </div>
              <div class="col-6 col-desk-12">
                <div class="form_field">
                  <button class="button -light -full-mobile" type="submit">Send</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-1 col-mob-hidden col-tab-hidden"></div>
        <div class="col-6 col-desk-2">
          <h3 class="footer_title">Links</h3>
          <ul class="links-list">
            <li class="links-list_item">
              <a href="#" class="links-list_url">Terms & Conditional</a>
            </li>
            <li class="links-list_item">
              <a href="#" class="links-list_url">Privacy Polic</a>
            </li>
            <li class="links-list_item">
              <a href="#" class="links-list_url">Site map</a>
            </li>
            <li class="links-list_item -copyright">CUPERTINO © 2015</li>
          </ul>
        </div>
        <div class="col-3 col-mob-hidden col-tab-hidden">
          <div class="logotype -footer">
            <img src="../images/logotype.svg" alt="">
          </div>
          <ul class="social-icons -footer">
            <li class="social-icons_item">
              <a href="#">
                <img src="../images/icons/facebook.svg" alt="">
              </a>
            </li>
            <li class="social-icons_item">
              <a href="#">
                <img src="../images/icons/instagram.svg" alt="">
              </a>
            </li>
            <li class="social-icons_item">
              <a href="#">
                <img src="../images/icons/twitter.svg" alt="">
              </a>
            </li>
            <li class="social-icons_item">
              <a href="#">
                <img src="../images/icons/youtube.svg" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer_social-mobile">
      <ul class="social-icons -footer -mobile">
        <li class="social-icons_item">
          <a href="#">
            <img src="../images/icons/facebook.svg" alt="">
          </a>
        </li>
        <li class="social-icons_item">
          <a href="#">
            <img src="../images/icons/instagram.svg" alt="">
          </a>
        </li>
        <li class="social-icons_item">
          <a href="#">
            <img src="../images/icons/twitter.svg" alt="">
          </a>
        </li>
        <li class="social-icons_item">
          <a href="#">
            <img src="../images/icons/youtube.svg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div class="footer_mobile">
  <div class="footer_container">
    <span class="footer_mobile_copyright">Сupertino © 2015</span>
    <img class="footer_mobile_logotype" src="../images/logotype-black.svg" alt="">
  </div>
</div>
