<div class="hamburger">
  <div class="hamburger_button"></div>
  <ul class="hamburger_menu">
    <li class="hamburger_menu_item -active">
      <a class="hamburger_menu_link" href="#">Home</a>
    </li>
    <li class="hamburger_menu_item">
      <a class="hamburger_menu_link" href="#">Rooms</a>
    </li>
    <li class="hamburger_menu_item">
      <a class="hamburger_menu_link" href="#">Special</a>
    </li>
    <li class="hamburger_menu_item">
      <a class="hamburger_menu_link" href="#">Gallery</a>
    </li>
    <li class="hamburger_menu_item">
      <a class="hamburger_menu_link" href="#">Book Now</a>
    </li>
  </ul>
</div>
