<header class="header">
  <div class="header_container">
    <!-- Start logo -->
    <div class="logotype">
      <img src="../images/logotype.png" alt="">
    </div>
    <!-- Start social-icons -->
    <ul class="social-icons">
      <li class="social-icons_item">
        <a href="#">
          <img src="../images/social-icons/facebook.svg" alt="">
        </a>
      </li>
      <li class="social-icons_item">
        <a href="#">
          <img src="../images/social-icons/instagram.svg" alt="">
        </a>
      </li>
      <li class="social-icons_item">
        <a href="#">
          <img src="../images/social-icons/twitter.svg" alt="">
        </a>
      </li>
      <li class="social-icons_item">
        <a href="#">
          <img src="../images/social-icons/youtube.svg" alt="">
        </a>
      </li>
    </ul>
    {% include main-menu.html %}
    {% include hamburger-menu.html %}
  </div>
</header>
