<header class="header">
  <div class="header_container">
    <a href="#" class="header_book-now">Book now</a>
    <!-- Start logo -->
    <div class="logotype">
      <img src="../images/logotype.svg" alt="">
    </div>
    <!-- Start social-icons -->
    <ul class="social-icons">
      <li class="social-icons_item">
        <a href="#">
          <img src="../images/icons/facebook.svg" alt="">
        </a>
      </li>
      <li class="social-icons_item">
        <a href="#">
          <img src="../images/icons/instagram.svg" alt="">
        </a>
      </li>
      <li class="social-icons_item">
        <a href="#">
          <img src="../images/icons/twitter.svg" alt="">
        </a>
      </li>
      <li class="social-icons_item">
        <a href="#">
          <img src="../images/icons/youtube.svg" alt="">
        </a>
      </li>
    </ul>
    <div class="header_hamburger-button"></div>
    {% include main-menu.html %}
  </div>
</header>
