<ul class="main-menu">
  <li class="main-menu_item -active">
    <a class="main-menu_link" href="/">Home</a>
  </li>
  <li class="main-menu_item">
    <a class="main-menu_link" href="/rooms">Rooms</a>
  </li>
  <li class="main-menu_item">
    <a class="main-menu_link" href="/special">Special</a>
  </li>
  <li class="main-menu_item">
    <a class="main-menu_link" href="/gallery">Gallery</a>
  </li>
  <li class="main-menu_item">
    <a class="main-menu_link" href="/contacts">Contacts</a>
  </li>
  <li class="main-menu_item">
    <a class="main-menu_link" href="#">Book Now</a>
  </li>
</ul>
