<div class="rate-shopping" rt3-recent-bookings="recentBookings">
  <div class="rate-shopping_container">
    <div class="rate-shopping_item -clock">Within 48hrs</div>
    <div class="rate-shopping_item -count">[[ recentBookings.totalBookings ]]</div>
    <span class="rate-shopping_bookings-made">
      <div class="rate-shopping_item">Bookings made</div>
      <div class="rate-shopping_item -count">115</div>
      <div class="rate-shopping_item">Satisfied guests</div>
    </span>
  </div>
</div>
