<h1 class="text-center">Rooms</h1>
<div class="room-navigation">
  Deluxe Room
  <span class="room-navigation_separator">/</span>
  Executive Suite
</div>

<section class="room-list">
  <ul class="room-list_container">
    <li class="room-list_item">
      <div class="row">
        <div class="col-3">
          <h2 class="text-center">Deluxe room</h2>
          <div class="price">
            <div class="price_value">$249</div>
            <div class="price_description">
              .00 / night
              <br>
              <span>excluding taxes & fees</span>
            </div>
          </div>
          <p class="bold">
            Beautifully appointed Deluxe Rooms features one king, ample work area and large modern
          </p>
          <p>
            All room types are very spacious and include full stocked mini-bars,
            luxurious bedding, full length mirrors, iHome radio clocks,
            flat screen TV’s, iron and ironing boards,
            comfy terry robes and in-room coffee makers.
          </p>
          <p>
            All room types are very spacious and include full stocked mini-bars,
            luxurious bedding, full length mirrors.
          </p>
          <div class="text-center">
            <a href="#" class="button">Book now</a>
          </div>
        </div>
        <div class="col-9">
          <div class="room-details">
            <div class="room-amenities">
              <button class="room-amenities_button" type="button">View amenities</button>
              <div class="room-amenities_content">
                <h2 class="room-amenities_title">Resident privileges</h2>
                <ul class="room-amenities_list">
                  <li class="room-amenities_list_item">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eos voluptate quibusdam, cum sequi ipsum laboriosam
                    similique facilis, excepturi distinctio numquam?
                  </li>
                  <li class="room-amenities_list_item">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eos voluptate quibusdam, cum sequi ipsum laboriosam
                    similique facilis, excepturi distinctio numquam?
                  </li>
                  <li class="room-amenities_list_item">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eos voluptate quibusdam, cum sequi ipsum laboriosam
                    similique facilis, excepturi distinctio numquam?
                  </li>
                  <li class="room-amenities_list_item">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eos voluptate quibusdam, cum sequi ipsum laboriosam
                    similique facilis, excepturi distinctio numquam?
                  </li>
                  <li class="room-amenities_list_item">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eos voluptate quibusdam, cum sequi ipsum laboriosam
                    similique facilis, excepturi distinctio numquam?
                  </li>
                  <li class="room-amenities_list_item">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eos voluptate quibusdam, cum sequi ipsum laboriosam
                    similique facilis, excepturi distinctio numquam?
                  </li>
                </ul>
              </div>
            </div>
            <div class="room-details_gallery">
              <img src="../images/todo_gallery.png" width="100%" alt="">
            </div>
            <div class="room-details_sub-gallery">
              <div class="room-details_sub-gallery_content">
                <img src="../images/todo_gallery.png" width="100%" alt="">
                <img src="../images/todo_gallery.png" width="100%" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
