<section class="room-list">
  <ul class="room-list_container">
    <li class="room-list_item" ng-repeat="room in browser.rooms" rt3-room-details="details" data-room-id="[[ room.code ]]">
      <div class="row -revert">
        <div class="col-12">
          <div class="room-details_gallery">
            <img ng-src="[[ room.photos[0].large ]]" width="100%" alt="">
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 col-mob-12">
              <h2 class="text-center">[[ room.name ]]</h2>
              <div class="price">
                <div class="price_value">[[ room.min_average_price ]]</div>
                <div class="price_description">
                  .00 / night
                  <br>
                  <span>excluding taxes & fees</span>
                </div>
              </div>
            </div>
            <div class="col-6 col-mob-12">
              <a href="#" class="button -full-room-details">Book now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>[[ room.description ]]</p>
          <ul class="social-icons -room">
            <li class="social-icons_item">
              <a href="#">
                <img src="../images/icons/facebook-black.svg" alt="">
              </a>
            </li>
            <li class="social-icons_item">
              <a href="#">
                <img src="../images/icons/instagram-black.svg" alt="">
              </a>
            </li>
            <li class="social-icons_item">
              <a href="#">
                <img src="../images/icons/twitter-black.svg" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</section>
