<section class="services">
  <div class="services_container">
    <div class="row -not-indents">
      <div class="col-4 col-mob-12 col-tab-12">
        <div class="services_content">
          <h3 class="services_title">Our services</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam sit,
            provident molestias voluptates.
          </p>
          <a href="#" class="button">Discover</a>
        </div>
      </div>
      <div class="col-4 col-mob-hidden col-tab-hidden">
        <div class="services_image -first"></div>
      </div>
      <div class="col-4 col-mob-hidden col-tab-hidden">
        <div class="services_image -second"></div>
      </div>
    </div>
  </div>
</section>
