<section class="special-offers">
  <div class="special-offers_container">
    <div class="special-offers_item">
      <img src="../images/special1.png" alt="">
      <h2 class="special-offers_title">Couples getaway</h2>
      <div class="special-offers_subtitle">Rooms & suits</div>
      <div class="price">
        <div class="price_value">$245</div>
        <div class="price_description">
          .00 / night
          <br>
          <span>excluding taxes & fees</span>
        </div>
      </div>
    </div>
    <div class="special-offers_item">
      <img src="../images/special2.png" alt="">
      <h2 class="special-offers_title">New year 2016</h2>
      <div class="special-offers_subtitle">Events</div>
      <div class="price">
        <div class="price_value">$1153</div>
        <div class="price_description">
          .00 / night
          <br>
          <span>excluding taxes & fees</span>
        </div>
      </div>
    </div>
  </div>
</section>
