<section class="style">
  <div class="style_container">
    <div class="style_content">
      <h3 class="style_title">Comfort & style</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ut numquam laudantium dolor neque alias porro est atque,
        eius accusantium doloribus.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Dolorem, explicabo.
      </p>
      <a href="#" class="button">Discover</a>
    </div>
  </div>
</section>
