<section class="suites">
  <div class="suites_container">
    <div class="row -not-indents">
      <div class="col-4 col-mob-12 col-tab-12">
        <div class="suites_sidebar">
          <div class="suites_content">
            <h3 class="suites_title">Our suites</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fuga.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Nisi tempora, tenetur fugiat exercitationem soluta magnam.
              Ipsam voluptas, animi obcaecati?
            </p>
            <a href="#" class="button -light">Discover</a>
          </div>
        </div>
      </div>
      <div class="col-8 col-mob-12 col-tab-12">
        <div class="suites_image"></div>
      </div>
    </div>
  </div>
</section>
