<section class="wellcome">
  <div class="wellcome_container">
    <div class="wellcome_datepicker">
      <div class="wellcome_datepicker_item">
        <input class="text-field" ui-date type="text" name="name" placeholder="Arrival">
        <div class="wellcome_datepicker_icon"></div>
      </div>
      <div class="wellcome_datepicker_item">
        <input class="text-field" ui-date type="text" name="name" placeholder="Departure">
        <div class="wellcome_datepicker_icon"></div>
      </div>
      <a href="#" class="button wellcome_book-now">Book Now</a>
    </div>
  </div>
</section>
