// Use: @include respond-to("mobile") { some: code here; }
@mixin respond-to($breakpoint) {
  @if $breakpoint == "mobile" {
    @media only screen and (max-width : 480px) { @content; }
  }
  @else if $breakpoint == "tablet" {
    @media only screen and (min-width : 481px) and (max-width : 768px) { @content; }
  }
  @else if $breakpoint == "desktop" {
    @media only screen and (min-width : 769px) and (max-width : 992px) { @content; }
  }
  @else if $breakpoint == "wide" {
    @media only screen and (min-width : 993px) { @content; }
  }
}

// Use: @include columns(4); // width: 33.3333%
// Column count default to: 12.
@mixin columns($count, $columns: 12, $float: left) {
  $one-column: 100% / $columns;

  float: $float;
  width: $one-column * $count;
}
