// Lato google font
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
// Open Sans
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
}

p {
  font-size: 12px;
  line-height: 1.7;
  margin: 24px 0;
}
