---
layout: default
title: Rooms
weight: 2
---
{% include rate_shopping.html %}
<div rt3-rooms-browser="browser">
  <h1 class="text-center">Rooms</h1>

  <ul class="sub-navigation">
    <li class="sub-navigation_item" ng-repeat="room in browser.rooms">
      <a href="#">[[ room.name ]]</a>
    </li>
    <li class="sub-navigation_item">
      <a href="#">Deluxe room</a>
    </li>
    <li class="sub-navigation_item">
      <a href="#">Deluxe room</a>
    </li>
  </ul>

  {% include room-list.html %}
  <h1 class="text-center">Special offers</h1>
  {% include special-offers.html %}

  <button type="button" class="back-to-top">Back to top</button>
</div>
